@import './../../assets/styles/variables';
@import './../../assets/styles/mixins';

.nav {
    width: 100%;
    background-color: $black;
    position: absolute;
    top: 80px;
    left: 0;
    display: none;
    transition: all ease-in-out 0.4s;
    margin: 0 auto;
    padding: 0 20px;
    &.active {
        border-top: 2px solid $orange;
        display: block;
        z-index: 100;
        transition: all ease-in-out 0.5s;
        @include media ('>=768px') {
            top: 85px;
        }
        @include media ('>=1024px') {
            top: 100px;
        }
    }

    @include media ('>=768px') {
        width: 100%;
    }
    
}