@import './../../assets/styles/variables';
@import './../../assets/styles/mixins';

.search {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 10px;
    border: 1px solid $dark-orange;
    padding: 10px 22px;
    margin-bottom: 40px;
    transition: all ease-in-out 0.5s;

    @include media ('>=768px') {
      width: calc(100% - 250px);
      margin-bottom: 0;
    }
    
    @include media ('>=1024px') {
      width: calc(100% - 700px);
    }

    &:hover,
    &:active {
      border: 1px solid $orange;
    }


  .icon-search {
    color: $semi-gray;
    font-size: 16px;
  }

  .search_input {
    width: calc(100% - 38px);
    outline: none;
    border: none;
    background-color: transparent;
    color: $semi-gray;
    padding: 0;
    transition: all ease-in-out 0.5s;

    &::placeholder {
       font-size: 15px;
    }
  }
}
