//fonts 
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Jost:wght@400;500;600;700&display=swap');
$default-font: 'Jost', sans-serif;
$second-font: 'Forum', cursive;

//color 
$white: #FAF6F2;
$black: #050402;
$orange: #BB8C5F;
$dark-orange: #524336;
$dark: #3E424B;
$gray: #919191;
$semi-gray: #636B78;
$dark-grey: #333;
$bg: #EEEEEE;



