@import './../../assets/styles/variables';
@import './../../assets/styles/mixins';

.footer {

    background-color: $black;
    .footer__container {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        max-width: 1200px;
    }

    .footer__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding: 60px 0;
        border-bottom: 1px solid $orange;

        @include media('>=768px') {
            flex-direction: row;
            justify-content: space-between;
        }

        .nav__list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 0;
        }
        .nav__link {
            font-weight: 500;
            font-size: 17px;
            line-height: 133.5%;
            color: #E9ECF1;
        }
    }

    .footer__logo {
        width: 100%;    
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

  

    .footer__social {
        padding: 20px 0;
        display: flex;
        flex-direction: column;

        .social {

            border: none;
            justify-content: space-between;
            align-items: center;

            @include media ('>=768px') {
                flex-direction: row;
            }

        }

        .time {
            display: block;
        }
    }
}