@import './../../../../assets/styles/variables';

.auth__icon-holder {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all ease-in-out 0.4s;

    &:hover {
      transform: scale(1.05);
    }
  .icon {
    font-size: 20px;
  }
}
