@import './../../../assets/styles/variables';
@import './../../../assets/styles/mixins';

.product__page {

    padding-bottom: 120px;

    .product__page--container {
        gap: 20px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 0 20px;
        max-width: 1200px;
    }

    .product__page-heading {
        padding-top: 20px;
    }

    .product__page-nav {
        display: flex;
        overflow: scroll;
        max-width: 280px;
    
        &::-webkit-scrollbar {
            display: none;
          }

        @include media ('>=768px') {
            align-items: center;
            max-width: 100%;
            overflow: auto;
        }
    }

    .nav__list-product {
        display: flex;
        flex-direction: row;
        font-size: 15px;
        line-height: 100%;
        color: $orange;
        gap: 8px;
    }

    .nav__item-product {
        width: 100%;
        padding: 7px 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        border: 1px solid $orange;
        transition: all ease-in-out 0.4s ;
        cursor: pointer;

        &.active,
        &:hover {
            color: $white;
            background-color: $orange;
        }
    }

    .products__filters {
        color: $dark;
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 10px 0 30px;
    }

    .filters__icon {
        font-size: 28px;
    }

    .filters__text {
        font-weight: 600;
        font-size: 20px;
        line-height: 140%;
    }

    .products__holder {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        padding-bottom: 20px;

        @include media ('>=768px') {
            flex-direction: row;
        }

        .card__item {
            
            @include media ('>=768px') {
                width: calc(100% / 3 - 15px);
            }

            @include media ('>=1024px') {
                width: calc(100% / 4 - 15px);
            }
        }
    }

      

}